
    
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
nav li{
    margin: 0 1em;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}
nav a:hover,
nav a:focus
{
    color:#143774 ;

}

.current-page{
    /* text-decoration: underline; */
    border-bottom: 1px solid   #707070;

}

.current-page:hover{
    color:  #707070 ;
}

.nav-head{
    text-align: center;
    font-size: 1.5rem;
    color:#312614 ;
}
/* Side by Side NavBar */

.side-nav-head{
    text-align: left;
}
.side-nav-head h1,.subtitle{
    margin: 0%;
}

/* Side By Side Nav */
@media screen and (max-width:675px){
    .container-flex{
        flex-direction: column;
        text-align: center;

    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: 0.5em 0;
    }
}