body{
    margin: 0;
    font-family:'Ubuntu',sans-serif;
    box-sizing:border-box;
}

header{
    text-align: center;
    background:#f8f8f8;
    padding:2em 0 ;
}
/* Typography */
h1,h2,h3{
    font-family: 'Lora',serif;
    font-weight: 400;
    color: #143774;
  }
h1{
    font-size:2rem;
    margin: 0;
}
.subtitle{
    font-weight: 200;
    color:#1792d2 ;
    font-size: 0.75rem;
    }
    
nav ul{
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}
nav li{
    margin: 0 1em;
}
nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: .25em 0;
}
nav a:hover,
nav a:focus
{
    color:#143774 ;

}

.current-page{
    /* text-decoration: underline; */
    border-bottom: 1px solid   #707070;

}

.current-page:hover{
    color:  #707070 ;
}

.nav-head{
    text-align: center;
    font-size: 1.5rem;
    color:#312614 ;
}
/* Side by Side NavBar */
.container{
    margin: 0 auto;
    width:90% ;
    max-width: 900px;
    border: 2px yellow solid;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px dotted darkslateblue; */
}
.side-nav-head{
    text-align: left;
}
.side-nav-head h1,.subtitle{
    margin: 0%;
}

/* Side By Side Nav */
@media screen and (max-width:675px){
    .container-nav{
        flex-direction: column;
        text-align: center;

    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin: 0.5em 0;
    }
}